{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% if articles|length > 0 %}
                {% for article in articles %}
                    <div class="article-item col-lg-3">
                        <div>Title: <a href="{{ path('show_article',{'id': article.id}) }}">
                            {{ article.title }}
                            </a>
                        </div>
                        <div>Content: {{ article.content }}</div>
                        <div>Author: {{ article.author.author_name }}</div>
                        <div>Created at: {{ article.created_at|date('Y-m-d') }}</div>

                    </div>
                {% endfor %}
        {% endif %}
    </div>
</div>

{% include('common/_pagination.html.twig') %}

{% endblock %}

